.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

/* sticky nav css */
.stickynav{
  position: fixed;
  height: 5vh;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.stickynavbuttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  margin: 5vh auto;
}
.stickynavref{
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px #f89b31;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.2px;
}
.stickynavref:hover{
  color: #f89b31;
}

/* main page css */
.mainparent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-position: center center;
  background-size: cover;
  background-image: url(./Images/MainBG.jpg);
}

.mainmyname{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 140px;
  color: white;
  margin: 0px;
  position: relative;
  z-index: 2;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0,0,0,.3);
}

.maindescription{
  color: white;
  margin-top: 0px;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0,0,0,.3);
}

.sun1{
  width: 75px;
  height: 75px;
  position: absolute;
  top: 22.8vh;
  left: 54.7vw;
  border-radius: 90px;
  box-shadow: inset 0 0 30px 0 #fff, inset 20px 0 30px #ffd400, inset -20px 0 30px #ff8a00, inset 20px 0 300px #be6dae, inset -20px 0 300px #e3ff4b, 0 0 50px #fff, -10px 0 100px #fbff00, 10px 0 80px #f55;
}

.sun2{
  width: 75px;
  height: 75px;
  position: absolute;
  top: 50vh;
  left: 34.7vw;
  border-radius: 90px;
  box-shadow: inset 0 0 30px 0 #fff, inset 20px 0 30px #ffd400, inset -20px 0 30px #ff8a00, inset 20px 0 300px #be6dae, inset -20px 0 300px #e3ff4b, 0 0 50px #fff, -10px 0 100px #fbff00, 10px 0 80px #f55;
}

.headerimg{
  width: 20vw;
  padding: 4.5vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* about me section css */
.aboutmegrand{
  height: 100vh;
  background-color: #1a191d;
}

.aboutmeparent{
  /* height: 80vh; */
  background-color: #1a191d;
  padding: 5vh 5vh 0 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutmetext{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 75px;
  margin: 0 0 10vh 0;
  text-align: center;
}

.aboutmedescription{
  color: white;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0,0,0,.3);
  margin: 30vh 5vh 10vh 5vh;
}

.shaneimg{
  height: 50vh;
  margin: 0 auto;
  display: block;
}

.relatedlogos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 70vw;
  height: 10vh;
  /* background-color: white; */
}
.logos {
  max-width: 25vw;
  max-height: 10vh;
  min-height: 10vh;
  height: auto;
  margin: 10px;
}

/* skill section css */
.skillstext{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 75px;
  margin: 3vh 0;
  text-align: center;
}
.skillparent{
  height: 80vh;
  padding: 10vh 5vh;
  background-color: #1a191d;
}

.skillssection{
  display: flex;
  height: 40vh;
  margin: 0 auto;
  justify-content: center;
}

.skillsubsection{
  border: 1px solid white;
  width: 25vw;
  height: 40vh;
  /* padding: 3vh; */
}

.skilltitle{
  display: flex;
  /* margin: 5vh auto; */
  justify-content: center;
  align-items: center;
  padding: 2vh 4vh 1vh 4vh;
}
.skilltitletext{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-left: 2vw;
  text-align: center;
}
#skilltext1{
  text-decoration: 5px underline #FF6B2B;
}
#skilltext2{
  text-decoration: 5px underline #61dbfb;
}
.skilldescription{
  display: flex;
  padding: 0vh 4vh;
}
.skilldesctext{
  color: #fff;
  font-family: "Roboto Mono",Sans-serif;
  margin: 0;
  opacity: 0.3;
  letter-spacing: 2.2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4em;
}
#skilldescright{ 
  color: white;
  margin-top: 0px;
  font-family: "Roboto Mono", Sans-serif;
  letter-spacing: 2.2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4em;
  display: flex;
  border-left: 2px solid rgba(255, 255, 255, .3);
  align-items: center;
  margin-top: 38px;
  margin-bottom: 38px;
  margin-left: -25px;
  padding: 0 25px;
}

.codesnipimg{
  display: block;
  margin: 0 auto;
  opacity: 0.4;
  height: 30vh;
}

.codinglanguageicons{
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 80vw;
  position: relative;
  top: -20vh;
}

.clangicons{
  min-height: 10vh;
  max-height: 10vh;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
}
/* Project section css */
.Projectparent{
  /* height: 80vh; */
  background-color: #1a191d;
  padding: 5vh 5vh 10vh 5vh;
}
.Projecttitle{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 75px;
  margin: 3vh 0;
}
.projtoprow{
  display: flex;
  align-items: center;
}
.projtopleft{
  width: 36vw;
  padding: 5vh 10vh;
  /* background-color: purple; */
}
.projtopright{
  /* width: 54vw; */
  /* background-color: pink; */
  padding: 5vh;
  display: flex;
}
.Projecttitlemostrec{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin: auto 50px auto 100px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  white-space: nowrap;
  height: 290px;
}
.Projdesc{
  color: white;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0,0,0,.3);
}
.projectgal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10vw;
  /* align-content: space-around;
  justify-content: space-evenly; */
}
.projcard{
  width: 24%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 2vh;
  border: 1px solid rgba(0, 0, 0, 0);
}
.projcardmostrec{
  width: 60%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0);
}
.projcard:hover{
  box-shadow: 0px 0px 30px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
  transition: transform 1.5s ease-out;
}
.projcardmostrec:hover{
  box-shadow: 0px 0px 30px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
  transition: transform 1.5s ease-out;
}
.projcard:hover .projcardimg {
  transform: scale(1.05);
}
.projcardmostrec:hover .projcardimgrec {
  transform: scale(1.05);
}
.indprojdesc{
  background-color: rgba(136,136,136,.05);
  padding: 1vh 1vh 2vh 1vh;
  border-radius: 0 0 5px 5px;
}
.indprejdesctexth1{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1.05px;
  text-align: center;
}
.indprejdesctextp{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.1px;
  text-align: center;
}
.projcardimgrec{
  max-height: 70%;
  max-width: 100%;
  background-color: antiquewhite;
  border-radius: 5px 5px 0 0;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.projcardimg{
  max-height: 70%;
  max-width: 100%;
  aspect-ratio: 16/9;
  background-color: antiquewhite;
  border-radius: 5px 5px 0 0;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.githublink{
  color: white;
}



/* timeline section css */
.timelineparent{
  /* height: 80vh; */
  background-color: #1a191d;
  padding: 10vh 5vh;
}
.timelinetitle{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 75px;
  margin: 3vh 0;
  text-align: center;
}
.timelinesubtitle{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.accordion {
  width: 50vw;
  margin: 0 auto;
}

.accordion-item {
  cursor: pointer;
  /* padding: 10px; */
  background-color: #490C86DE;
  margin: 1vh;
  border-radius: 10px;
}

.accordion-title {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.3;
  letter-spacing: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  width: 45vw;
  justify-content: space-between;
  padding: 20px;
}
.accordion-title h3 {
  margin: 0;
}
.accordiontitleleft{
  display: flex;
  width: 40vw;
  justify-content: space-between;
}
.bi{
  margin: auto 0;
}
.accordion-content {  
  border-radius: 0 0 10px 10px;
  background: #241d41;
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  height: 0;
  overflow: hidden;
  align-items: center;
}
.accordion-content-desc{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1.1px;
  padding-left: 25px;
  width: 30vw;
}
.accordion-content p{
  margin-top: 1vh;
  font-size: 15px;
  font-weight: 400;
}
.accordiondesctop{
  display: flex;
  align-items: center;
}
.accordiondesctop p{
  margin: 2px;
  font-size: 15px;
  font-weight: 400;
}
.compimg{
  border-radius: 25%;
  height: 10vh;
  margin-right: 50px;
}
.accordion-item.active .accordion-content {
  padding: 20px;
  height: auto;
  transition: cubic-bezier(0, 0.55, 1, 0.87) 0.8s;
}
.worktopics{
  display: flex;
}
.worktopics p{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.1px;
  padding: 5px 10px;
  background-color: #2c3599;
  margin-right: 10px;
  border-radius: 30px;
  text-align: center;
}

/* contact section css */
.contactparent{
  /* height: 80vh; */
  background-color: #1a191d;
  padding: 5vh 5vh 10vh 5vh;
  display: flex;

  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 45px;
}

.contacttext{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 45px;
  margin: 3vh 0;
}
.contactleft{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5vh;
}
.contactleft p{
  color: white;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0,0,0,.3);
}
.contactinfo{
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
}
.contactinfo a{
  color: white;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0,0,0,.3);
}
.contactright{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5vh;
}
.socialicon{
  margin-right: 5vw;
  color: white;
}
.socialicon:hover{
  color: #ac6cebde;
}
.copyright{
  color: white;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0,0,0,.3);
  text-align: center;
  margin-top: -33px;
}